# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CurrencyView.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\r0bar\RiderProjects\CurrencyView\.idea\.idea.CurrencyView\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
